.imagen-container
	.croppie-container
		max-height 40%
		width 20%
	.dropify-container
		width 27%
.imagen-button
	margin-top 3%


.template-image
	.template-container
		width 50%
		.croppie-container
			max-height 40%
			width 45%
		.dropify-container
			width 54%
			
	img
		width 200px
		height 200px
		
	.eliminar-imagen
		width 40px
		height 40px
		margin-left 35px
		
.button-template
	margin-top 3%
	width 100%
	

.button-limites
	height 10%
	margin-top 3%

.concepto, .templete-form
	.descripcion-container
		text-angular
			.ta-toolbar
				display flex
				flex-direction row
				flex-wrap wrap
				.ta-button-group
					button
						md-icon 
							color #ffbf00
		.titulo
			md-icon
				margin-left 0
				margin 13px
	.guardar
		width 10%
		margin 0 auto
		margin-top 13px



.guardar
	width 10%
	margin 0 auto
	

		

md-grid-list
	md-grid-tile
		background-repeat no-repeat
		background-size cover
		background-position center

.ta-scroll-window > .ta-bind
	height 180px
	min-height inherit
	padding 6px 12px
	





#vertical-container
	height 292px
	width 90%
	max-width 700px
	border 1px solid grey

	.repeated-item
		border-bottom 1px solid #ddd
		box-sizing border-box
		height 40px
		padding-top 10px
		md-content
			margin 16px
		md-virtual-repeat-container
			border solid 1px grey
		.md-virtual-repeat-container
			.md-virtual-repeat-offsetter
				div
					padding-left 16px
		.md-button
			margin inherit !important
			min-height inherit !important
			min-width inherit !important

			tooltip
				opacity 1