.cotizador
	md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links")

		md-nav-item(md-nav-sref=".conceptos" name="concepto") Conceptos
		md-nav-item(md-nav-sref=".categorias" name="categoria") Categorias
		md-nav-item(md-nav-sref=".templates" name="template") Templates
	main(ui-view="main")