.menuProyecto
	md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links")
		md-nav-item(md-nav-sref=".proyectos" name="concepto") Proyectos
		md-nav-item(md-nav-sref=".templates" name="categoria") Templates
		md-nav-item(md-nav-sref=".conceptos" name="concepto") Conceptos

	main(ui-view="main")